* {
    margin: 0;
    background-color: black;
}

h1 {
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
}
h3 {
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
}

.arrowKey {
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
}

.instructions {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 16px 16px;
}
