* {
    margin: 0;
    background-color: black;
}

h1 {
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
    font: ar
}
h3 {
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
}

.arrowKey {
    background-color: black;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
}