body {
    margin: 0;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;

}
h3 {
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;

}

.arrowKey {
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.instructions {
    display: flex;
    justify-content: flex-start;
    /* margin: 10px 0 16px 16px; */
}
#gameboard{
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 2;
    display: flex;
}
h1, .instructions, #gameboard {
    /* position: absolute; */

}

/* progress bar  */
.progress-bar{
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid white;
}

.progress-bar-fill{
    height:100%;
    background: greenyellow;
    transition: width 0.5s;
}

.progress-bar-value{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}